[Interface]
PrivateKey = OKiaziFyOfvIWhsrQohSCxoXf6AdmEapL4yEqgi9bEM=
Address = 10.0.31.211/32, 2a0e:1c80:1337:1:10:0:31:211/128
DNS = 91.231.153.2, 192.211.0.2, 2a0e:1c80:1337:1:10:0:0:1

## ALL Public IPs:
PostUp = DROUTE=$(ip route | grep default | awk '{print $3}'); HOMENET=192.168.0.0/16; HOMENET2=10.0.0.0/8; HOMENET3=172.16.0.0/12; ip route add $HOMENET3 via $DROUTE;ip route add $HOMENET2 via $DROUTE; ip route add $HOMENET via $DROUTE;iptables -I OUTPUT -d $HOMENET -j ACCEPT;iptables -A OUTPUT -d $HOMENET2 -j ACCEPT; iptables -A OUTPUT -d $HOMENET3 -j ACCEPT;  iptables -A OUTPUT ! -o %i -m mark ! --mark $(wg show %i fwmark) -m addrtype ! --dst-type LOCAL -j REJECT;
PreDown = ip route del $HOMENET3 via $DROUTE;ip route del $HOMENET2 via $DROUTE; ip route del $HOMENET via $DROUTE; iptables -D OUTPUT ! -o %i -m mark ! --mark $(wg show %i fwmark) -m addrtype ! --dst-type LOCAL -j REJECT; iptables -D OUTPUT -d $HOMENET -j ACCEPT; iptables -D OUTPUT -d $HOMENET2 -j ACCEPT; iptables -D OUTPUT -d $HOMENET3 -j ACCEPT

## Change the homenets - ips that are allowed to access the container
# custom --> HOMENET=192.168.1.0/24; HOMENET2=192.168.2.0/24; HOMENET3=10.0.31.211/32
# just change the variables in the PostUp config


[Peer]
PublicKey = PUBKEY HERE
AllowedIPs = 0.0.0.0/0, ::/0
Endpoint = IP:PORT